
<br>
<div class="av">
  <% @event.each do |event| %><br><br>
  <div class="flex-container">
<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header">titre: <%= event.title %><br></div>
  <div class="card-body">
    <h5 class="card-title">auteur: <%= event.author %><br></h5>
    <h5 class="card-title">date: <%= event.start_date %><br></h5>
    <p class="card-text"><%= link_to "voir l’event", event %></p>
  </div>
</div>
    </div>
<% end %>
</div><br><br><br>






<div class = "slide">

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://cdn.aveine.paris/blog/wp-content/uploads/2020/07/28140437/202007_Vins-f%C3%AAte-copie.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://lepetitjournal.com/sites/default/files/2019-12/d27d1918e2bad3e45deddf090f54ee4a_XL.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.goafricaonline.com/uploads/media/cms/0002/100/cms_w1200/199333_62ea534b00701-bar-abidjan-ci.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="http://localhost:3000/events/1" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="http://localhost:3000/events/2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div></div>

<div class = "choise">
<img src="https://cdn-icons-png.flaticon.com/512/214/214697.png" width="150"></img>
</div></div><br><br><br><br><br><br><br>

<div class ="mainsentences">
<h5>une offre extrêmement rare </h5>
<p>nous rejoindre pour profiter pleinement des fonctionnalités de notre app. </p> 
</div><br><br>

<div class = "choise">
<img src="https://cdn-icons-png.flaticon.com/512/2413/2413035.png" width="150"></img>
</div></div><br><br><br><br><br><br><br>

<div class ="mainsentences">
<h5>une organisation parfaite ? </h5>
<p>Votre satisfaction est notre devoir le plus cher. Nos clients sont traités comme des rois parce qu'ils le sont.</p>
</div><br><br><br><br><br><br><br>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
