<div class="showevent" style="text-align: center">


titre: <%= @event.title %><br>
  auteur: <%= @event.author %><br>

  date: <%= @event.start_date %><br><br><br><br><br><br><br><br><br><br><br>
</div>
