<div class="footer">
<hr><br><br>
<div class="footerlogo" style="text-align: center">
<img src="https://cdn-icons-png.flaticon.com/512/2412/2412858.png" width="100" height="60"></img>
<h2>Breathe</h2>
<p>by jerry</p><br>


<p><a href="#">politique de confidentialité</a> | <a href="#">politique d'envoi </a> | <a href="#">conditions d'utilisation </a> © 2022 jerry's SAS. Tous droits réservés </p>
<br><br>
</div>
</div>